<section class="about1">
<div class="about-title">
<span class="big-font">WE DO</span></br>
INTERACTIONS</br>
<span class="big-font2">BEST</span>

</div>

<div class="about-title2">
Partner With </br>Us Today!

</div>


<div class="about-description">
We turn traditional marketing and promotion into interactive campaigns that get results.  We specalize in interactive exhibitions that draws attention and create long lasting connections.  We handle everything from research, social media, execution and post event engagment.

</div>



</section>


<section id="services1" class="about2">
<div class="services1">
	<div class="headline-service">
		HEY, look over here! 
	</div><div class="clear"></div>
	<h1 class="title-service">Interactive Exhibitions</h1>
	<div class="description-service">
		If you have to chase people down to come to your booth, you are doing it all wrong. What if you had an exhibition, where people ran over to see what was going on? We develop interactive exhibitions for festivals, concerts, events, street campaigns, etc for brands that want to reach new markets and make long lasting impressions on potential customers.

		<ul>
			<li>Research / Consulting</li>
			<li>Interactive Events</li>
			<li>Custom Booth Displays</li>
			<li>Customer Engagement</li>
			<li>Data Collection</li>
			<li>Photography & Videography</li>
			<li>Mini Event Series</li>
			<li>Traveling Tours</li>
		</ul>

		<ul>
			<li>Promo & Banner Design</li>
			<li>Tradeshows and Conventions</li>
			<li>Interactive Sporting Exhibits</li>
			<li>Local Festivals and Events</li>
			<li>Contest Development</li>
			<li>Event Sponsorships</li>
			<li>Fan Acquisition</li>
		</ul>
			

	</div>

	<h1 class="title-service">Interactive Social Media</h1>
	<div class="description-service">
		How are you engaging your followers?  Do you need to organicly grow your followers? 

		<ul>
			<li>Social Games</li>
			<li>Interactive Branded Content</li>
			<li>Brand Social Strategy</li>
			<li>Event Recap</li> 
			<li>Story Showcase</li>
		</ul> 

	</div>

	<h1 class="title-service">Interactive Microsites</h1>
	<div class="description-service">
		Our interactive microsites are used to turn potential markets into customers and fan of your brand.

		<ul>
			<li>Interactive Landing Pages</li>
			<li>Mini Games</li>
			<li>Marketing Campaigns</li>
			<li>Event Campaigns</li>
			<li>Fan Generated Content</li>
			<li>Fan Acquisition</li>
			<li>Data Collection</li>
		</ul> 		

	</div>

</div>

</section>

<section id="process1" class="about5">
		<div class="headline-service2">
			PROCESS
			</div>

			<div class="process-box">
				<%= image_tag 'bulls-eye-330.png', :class => "process-image" %>
				<div class="process-box2">
					<h2>Discuss </br>Goals</h2>
					
				</div>
				
			</div>
			<div class="process-box">
				<%= image_tag 'checklist-330.png', :class => "process-image" %>
				<div class="process-box2">
				<h2>Evaluate </br>Strategy</h2>
				
			</div>
				
			</div>	
			<div class="process-box">
				<%= image_tag 'target-market-330.png', :class => "process-image" %>
				<div class="process-box2">
				<h2>Research </br>Market</h2>
				
			</div>
				
			</div>
			<div class="process-box">
				<%= image_tag 'solutions-330.png', :class => "process-image" %>
				<div class="process-box2">
				<h2>Customized </br>Solutions</h2>
				
			</div>
				
			</div>
			<div class="process-box">
				<%= image_tag 'hammer-plan-330.png', :class => "process-image" %>
				<div class="process-box2">
				<h2>Execute </br>Plan</h2>
				
				</div>
			</div>
			<div class="process-box">
				<%= image_tag 'results-330.png', :class => "process-image" %>
				<div class="process-box2">
				<h2>Review </br>Strategy</h2>
				
				</div>
			</div>		
			<div class="process-box">
				<%= image_tag 'photos-330.png', :class => "process-image" %>
				<div class="process-box2">
				<h2>Present </br> Portfolio</h2>
				
			</div>
				
			</div>																

	



</section>



<section id="team1"  class="about4">
<div class="about-title">


</div>

<div class="about-stuff">
	<div class="stuff1"><span class="bigstuff">1 Team</span>.

	</div>

	<div class="stuff1">
		<span class="bigstuff">1,000s</span></br> of hours at festivals.   

	</div>

	<div class="stuff1">
	<span class="bigstuff">10,000s</span></br> of interactions made.
	</div>

	<%= image_tag 'black-puzzle.png', :class => "puzzle-image2" %>

	<div class="about-information">

		<h1>The Missing Piece</h1>

		<p>We are a team of creatives who started 330 Monday from our love of festivals and marketing.  We have worked at many festivals and saw a need for better exhibitions at festivals, events and tradeshows.  Our team is ready to help your brand connect with fans and new customers by providing interactive solutions with exhibtions, social media and micro sites.
		</p>

	</div>


	</div>


</section>

<section id="faq1" class="about6">
		<div class="headline-service2">
			Frequently Asked Questions
			</div>


		<dl>
		  <dt>What is 330 Monday?</dt>
		  <dd>Specializing in connecting amazing people, with amazing brands, by cultivating amazing interactions during events for years to come.</dd>
		</dl>

		<dl>
		  <dt>Can 330 Monday use tradeshows and exhibits to make our brand stand out?</dt>
		  <dd>Trade Shows, conferences, festivals, concerts, fund raisers and large community events are known to attract a variety of people. Consumers come with intention to have a great time and spend money 97% of the time. <%= link_to 'Contact us', pages_about_us_path(:anchor => "contact1") %> to ensure your company makes a lasting impression that will equate to them choosing you every time. Start by taking a look at the <%= link_to 'services', pages_about_us_path(:anchor => "services1") %> we offer.</dd>
		</dl>	

		<dl>
		  <dt>What services can 330 Monday offer your company? </dt>
		  <dd>Interactive Marketing direction for 
			<ul>
				<li>Microsites (event results specific)</li>
				<li>Social Media Management utilizing Content management systems</li>
				<li>Exhibition Design and Connection Management</li>
			</ul>
			</dd>
		</dl>	

		<dl>
		  <dt>Do you offer fully customizable event specific exhibits?</dt>
		  <dd>Special events are our speciality. Share with us your vision and we can make it come to light according to your professional goals.</dd>
		</dl>

		<dl>
		  <dt>Do you offer assistance for 8x10 10x10 and 10x20 spaces?</dt>
		  <dd>Representing your brand with 330 Mondays has became easier, but the design options are endless. We can customize displays to encourage interactions and strengthen brand awareness. Ask about our print, stationary, mobile, and digital interaction success rate.</dd>
		</dl>

		<dl>
		  <dt>Do you create indoor and outdoor exhibits?</dt>
		  <dd>Yes, our professional exhibitionist can offer advice on dealing with extreme weather( heavy rain, heat waves, snow in the south, etc.). We can encourage requests that involve water or extreme heights.</dd>
		</dl>

		<dl>
		  <dt>Should our company purchase or rent an exhibit display?</dt>
		  <dd>330 Monday now offers exhibits for tradeshows to meet your budget. If you are looking to purchase an exhibit for continued brand awareness and would like the flexibility to have access to your exhibit on demand we encourage buying a state of the art exhibit display. Rental options are now easier with monthly payment arrangements drafted directly off company credit card.</dd>
		</dl>

		<dl>
		  <dt>Do you have an in house graphic team?</dt>
		  <dd>We want to see your company succeed every time. We welcome your design teams to submit graphics. For you convenience we have a full service graphics team who specializes in festivals, celebrations, and the biggest trade shows worldwide.</dd>
		</dl>

		<dl>
		  <dt>Do you offer assistance for 8x10 10x10 and 10x20 spaces?</dt>
		  <dd>Representing your brand with 330 Mondays has became easier, but the design options are endless. We can customize displays to encourage interactions and strengthen brand awareness. Ask about our print, stationary, mobile, and digital interaction success rate.</dd>
		</dl>


		<dl>
		  <dt>Where did the name come from? Are you obsessed with Mondays?</dt>
		  <dd>Every monday you are one step closer to getting to the next level. 330 Monday is here to help make those connections with successful relationships.</dd>
		</dl>

		<dl>
		  <dt>If home is where the heart is, where is home for 330 Monday?</dt>
		  <dd>In a world full of fun and excitement, we choose Charlotte, NC to be our home. Our passion is to actively explore the world to make it better with fun experiences.</dd>
		</dl>

		<dl>
		  <dt>Media Request can I get the exclusive?</dt>
		  <dd>We work with the best creative artist  nationwide and are willing to open the lines of communication. Send press inquiry request to info@330Monday.com with the subject Media Inquires.</dd>
		</dl>


		<dl>
		  <dt>What are the benefits of partnering with 330 Monday?</dt>
		  <dd>Charlotte customers deserve more. We represent a heap of outstanding businesses and an unique educated population of consumers and our events should connect the world.</dd>
		</dl>


		<dl>
		  <dt>Are you hiring now?</dt>

		  <dd>Charlotte customers deserve more. We represent a heap of outstanding businesses and an unique educated population of consumers and our events should connect the world.</dd>
		</dl>

</section>

<section id="contact1" class="about3">


<div class="contact">
	<h1>every great interaction starts with a simple hello.</br>
		hey...let's chat.</h1>
	<span class="contact-email">info@330monday.com</span>
	<span class="contact-phone">704.712.2717</span>

	<p>Send us cool stuff!</br>PO Box 790311</br>Charlotte, NC 28206 </p>

	 <div class="social-links">
	 	<a href="https://instagram.com/rhymesdesigns/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.facebook.com/RhymesDesigns" target="_blank"><i class="fa fa-facebook-square"></i></a>
        <a href="https://twitter.com/RhymesDesigns" target="_blank"><i class="fa fa-twitter-square"></i></a>
    </div>

    <div  class="cookie-box3">

	<p>Fill out and we will contact you shortly.</p>
    <%= render 'contacts/new' %>
		</div>

	</div>




</section>