<div id="cltquiz">
	<div id="sitemenu-icon" class="nodisplay">
		<span class="line1"></span>
		<span class="line2"></span>
		<span class="line3"></span>
	</div>
	<div class="brandheader">

		<div class="brandsocialbox">

		</div>

		<%= image_tag 'brandheader-image-quiz.png', :class => "brandheader-image" %>
		<div class="brandheader-description">
			<p>How much do you really know about Charlotte, NC?  Take the quick quiz and see how you do.</p>

		</div>

	</div>

	<div class="interactsection">


		<div class="examplepics">
			<div class="examplepicsbox">
				<%= image_tag 'checkoutexample.png', :class => "example-image" %>
			</div>
			<div class="examplepicsbox">
				<%= image_tag 'checkoutexample.png', :class => "example-image" %>
			</div>
			<div class="examplepicsbox">
				<%= image_tag 'checkoutexample.png', :class => "example-image" %>
			</div>
			<div class="examplepicsbox">
				<%= image_tag 'checkoutexample.png', :class => "example-image" %>
			</div>		
		</div>



	</div>

	<div class="brandinformation">

		<div class="branddescription">

			330 Monday is our premier sponsor for Checkout CLT. 330monday is a interactive marketing agency with a specialty in customizing campaigns that increase customer engagement, lead generation via events and technology integration. CheckoutClt is great platform to introduce your community to hidden gems. We encourage you to submit your favorite getaway, scenic views, new business, or favorite family friendly venues. Feeling friendly, we challenge you to be creative, be generous and explore our city. 



		</div>


		<%= link_to "Checkout 330Monday", "www.330monday.com", class: "externallink" %>
	</div>
</div>
