				<div id="homecontact">
					<%= link_to pages_about_us_path(:anchor => "contact1") do %>
					<button class="contact-button">
						Contact Today
					</button>
					<% end %>
				</div>

<div class="bscontainer-fluid">
	<div class="bsrow">


	<div id="demo-wrapper" class="">
		<div id="demo-canvas">



			<div class="centertop">
				<div class="title-home">
					<h1>Customer Engagement</br> And Interactions,</br> Done Right!</h1>

					<div class="image-part1">
						<%= image_tag 'bike-shape.svg', :class => "bikeimage" %>
					</div>

					
				</div>

			</div>

			<div id="exhibit-menu">
				<div id="exhibitwrap" class="">

					<div id="exhibitcircle">
						<span class="">EXHIBITS</span>
					
						<%= image_tag 'arrow_exhibit.png', :class => "", id: "arrowexhibit" %>
					</div>

					<div id="exhibit-content">
						<h2>
							Interactive Exhibit </br>Campaigns
						</h2>
						<ul id="exhibitside">
						<li>Interactive exhibits for festivals.</li>
						<li>Handle exhibit design to connecting online.</li>
						<li>360 Campaigns that get results.</li>
						</ul>
						<%= link_to 'Learn More', pages_interactivecampaigns_path, :class => "learnmore" %>

						<%= link_to pages_about_us_path(:anchor => "contact1") do %>
							<button id="contact-exhibit" class="contact-button">
							Contact Today
							</button>
						<% end %>
					</div>

				</div>

			</div>
			<div id="partner-menu">
				<div id="partnerwrap" class="">

					<div id="partnercircle">
						<span class="">PARTNER</span>

						<%= image_tag 'arrow_partner.png', :class => "", id: "arrowpartner" %>
					</div>

					<div id="partner-content">
					<h2>
							Communication & Marketing</br> Partnerships
						</h2>
						<ul id="partnerside">
						<li>Handle all communication and marketing</li>
						<li>Save time and money.</li>
						<li>A partner you can rely on.</li>
						</ul>
						<%= link_to 'Learn More', pages_marketingpartner_path, :class => "learnmore" %>

						<%= link_to pages_about_us_path(:anchor => "contact1") do %>
							<button id="contact-partner" class="contact-button">
								Contact Today
							</button>
						<% end %>
					</div>

				</div>
				
			</div>


		</div>

	</div>

</div>
</div>

<section class="blog-section nodisplay">
	<div class="learnhow-box">
		<div class="learnhow-boxleft">
			<h1>Our Marketing Strategy is Simple.</h1>
			<h2>Go where the eyeballs are.</h2>

			<div class="learnhow-button">	
				Learn how to reach your market.

			</div>
		</div>
		<div class="learnhow-boxright">
			<%= image_tag 'oktoberfest5.JPG', :class => "learnbox-image" %>
		</div>
	</div>

	<div class="happy-box">
		<h1>Our Focus is Happiness.</h1>
		<h2>Communication is about</br>finding what makes people happy.</h2>


	</div>

	<div class="blogpost-section">

		<div class="blog-post">
			<div class="img-box">

				<%= image_tag 'oktoberfest5.JPG', :class => "learnbox-image" %>

			</div>
			<div class="blog-title">
				How to market at events.

			</div>


		</div>

		<div class="blog-post">
			<div class="img-box">

				<%= image_tag 'oktoberfest5.JPG', :class => "learnbox-image" %>

			</div>
			<div class="blog-title">
				How to interact with customers.

			</div>


		</div>

		<div class="blog-post">
			<div class="img-box">

				<%= image_tag 'oktoberfest5.JPG', :class => "learnbox-image" %>

			</div>
			<div class="blog-title">
				Top needs for your online presence.

			</div>


		</div>

		<div class="blog-post">
			<div class="img-box">

				<%= image_tag 'oktoberfest5.JPG', :class => "learnbox-image" %>

			</div>
			<div class="blog-title">
				How to stay focus on your goals.

			</div>


		</div>


	</div>



	</section>

	<section class="services-section nodisplay">

		<h1>WE HANDLE ALL OF</br>YOUR MARKETING AND</br>COMMUNICATIONS NEEDS.</h1>

		<div class="categories">
		<div class="service-category">
			<%= image_tag 'services-face.jpg', :class => "category-image" %>

			<div class="category-box">
				<h2>Face To Face</h1>

					<p>We provide interactive solutions to engage future customers at festivals, tradeshows and events.  Also provide solutions for in house events and sponsorship partnerships.</p>

					<button class="learn-button">
						Learn More
					</button>


			</div>


		</div>

				<div class="service-category">
			<%= image_tag 'services-social.jpg', :class => "category-image" %>

			<div class="category-box">
				<h2>Communication</h1>

					<p>We provide solutions to connect to your target market online and offline.  We help you develop a message to use on social media and in other tradition channels.</p>

					<button class="learn-button">
						Learn More
					</button>


			</div>


		</div>

				<div class="service-category">
			<%= image_tag 'services-web.jpg', :class => "category-image" %>

			<div class="category-box">
				<h2>Web Presense</h1>

					<p>We provide simple solutions to showcase your brand and make a great first impression online.  We make sure your business looks professional and consistent on all devices.</p>

					<button class="learn-button">
						Learn More
					</button>


			</div>


		</div>


	</div>

	</section>

<script>
/// mobile adjustment
$("#exhibitcircle").click(function(){
	$("#demo-wrapper").toggleClass("show-nav2");
	$("#exhibitcircle span").toggleClass("opacity");
	$("#arrowexhibit").toggleClass("clockwise180");
	$("#homecontact").toggleClass("nodisplay");
});
$("#partnercircle").click(function(){
	$("#demo-wrapper").toggleClass("show-nav");
	$("#partnercircle span").toggleClass("opacity");
	$("#arrowpartner").toggleClass("clockwise180");
	$("#homecontact").toggleClass("nodisplay");
});

//When you hover over partner circle, you add class show-nav to wrapper demo
//select cirlce
$("#exhibit-menu").mouseenter(function(){
	$("#demo-wrapper").addClass("show-nav2");
	$("#exhibitcircle span").addClass("opacity");
	$("#arrowexhibit").addClass("clockwise180");
	$("#homecontact").addClass("nodisplay");
});
$("#exhibit-menu").mouseleave(function(){
	$("#demo-wrapper").removeClass("show-nav2");
	$("#exhibitcircle span").removeClass("opacity");
	$("#arrowexhibit").removeClass("clockwise180");
	$("#homecontact").removeClass("nodisplay");
});

$("#partner-menu").mouseenter(function(){
	$("#demo-wrapper").addClass("show-nav");
	$("#partnercircle span").addClass("opacity");
	$("#arrowpartner").addClass("clockwise180");
	$("#homecontact").addClass("nodisplay");
});
$("#partner-menu").mouseleave(function(){
	$("#demo-wrapper").removeClass("show-nav");
	$("#partnercircle span").removeClass("opacity");
	$("#arrowpartner").removeClass("clockwise180");
	$("#homecontact").removeClass("nodisplay");
});





//add class show-nav to wrapper demo
//how to do smooth tranisition
//stay on section long as hover over partner section
//move back to center section
//take class show-nav off wrapper demo

//When you haver over exhibit circle, you add class show-nav2 to wrapper demo



</script>


