<div class="bscontainer-fluid">
	<div class="bsrow">


	<div id="demo-wrapper" class="">
		<div id="demo-canvas">

			<div class="centertop">
				<div class="title-home">
					<h1>Customer Engagement</br> And Interactions,</br> Done Right!</h1>

					<div class="image-part1">
						<%= image_tag 'bike-shape.svg', :class => "bikeimage" %>
					</div>

					<button class="contact-button">
						Contact Today
					</button>
				</div>

			</div>

			<div id="exhibit-menu">
				<div id="exhibitwrap" class="">

					<%= link_to '#', id: "exhibitcircle" do %>
						<span class="">EXHIBITS</span>
					
						<%= image_tag 'arrow_exhibit.png', :class => "", id: "arrowexhibit" %>
						<% end %>

					<div id="exhibit-content">
						<h2>
							Interactive Exhibit </br>Campaigns
						</h2>
						<ul id="exhibitside">
						<li>Interactive exhibits for festivals.</li>
						<li>Handle exhibit design to connecting online.</li>
						<li>360 Campaigns that get results.</li>
						</ul>
						<%= link_to 'Learn More', '#', :class => "learnmore" %>
						
						<button id="contact-exhibit" class="contact-button">
						Contact Today
					</button>
					</div>

				</div>

			</div>
			<div id="partner-menu">
				<div id="partnerwrap" class="">

					<%= link_to '#', id: "partnercircle" do %>
						<span class="">PARTNER</span>

						<%= image_tag 'arrow_partner.png', :class => "", id: "arrowpartner" %>
					<% end %>

					<div id="partner-content">
					<h2>
							Communication & Marketing</br> Partnerships
						</h2>
						<ul id="partnerside">
						<li>Handle all communication and marketing</li>
						<li>Save time and money.</li>
						<li>A partner you can rely on.</li>
						</ul>
						<%= link_to 'Learn More', '#', :class => "learnmore" %>
						
						<button id="contact-partner" class="contact-button">
						Contact Today
					</button>
					</div>

				</div>
				
			</div>


		</div>

	</div>

</div>
</div>

<section class="blog-section">
	<div class="learnhow-box">
		<div class="learnhow-boxleft">
			<h1>Our Marketing Strategy is Simple.</h1>
			<h2>Go where the eyeballs are.</h2>

			<div class="learnhow-button">	
				Learn how to reach your market.

			</div>
		</div>
		<div class="learnhow-boxright">
			<%= image_tag 'oktoberfest5.JPG', :class => "learnbox-image" %>
		</div>
	</div>

	<div class="happy-box">
		<h1>Our Focus is Happiness.</h1>
		<h2>Communication is about</br>finding what makes people happy.</h2>


	</div>

	<div class="blogpost-section">

		<div class="blog-post">
			<div class="img-box">

				<%= image_tag 'oktoberfest5.JPG', :class => "learnbox-image" %>

			</div>
			<div class="blog-title">
				How to market at events.

			</div>


		</div>

		<div class="blog-post">
			<div class="img-box">

				<%= image_tag 'oktoberfest5.JPG', :class => "learnbox-image" %>

			</div>
			<div class="blog-title">
				How to interact with customers.

			</div>


		</div>

		<div class="blog-post">
			<div class="img-box">

				<%= image_tag 'oktoberfest5.JPG', :class => "learnbox-image" %>

			</div>
			<div class="blog-title">
				Top needs for your online presence.

			</div>


		</div>

		<div class="blog-post">
			<div class="img-box">

				<%= image_tag 'oktoberfest5.JPG', :class => "learnbox-image" %>

			</div>
			<div class="blog-title">
				How to stay focus on your goals.

			</div>


		</div>


	</div>



	</section>

	<section class="services-section">

		<h1>WE HANDLE ALL OF</br>YOUR MARKETING AND</br>COMMUNICATIONS NEEDS.</h1>

		<div class="categories">
		<div class="service-category">
			<%= image_tag 'services-face.jpg', :class => "category-image" %>

			<div class="category-box">
				<h2>Face To Face</h1>

					<p>We provide interactive solutions to engage future customers at festivals, tradeshows and events.  Also provide solutions for in house events and sponsorship partnerships.</p>

					<button class="learn-button">
						Learn More
					</button>


			</div>


		</div>

				<div class="service-category">
			<%= image_tag 'services-social.jpg', :class => "category-image" %>

			<div class="category-box">
				<h2>Communication</h1>

					<p>We provide solutions to connect to your target market online and offline.  We help you develop a message to use on social media and in other tradition channels.</p>

					<button class="learn-button">
						Learn More
					</button>


			</div>


		</div>

				<div class="service-category">
			<%= image_tag 'services-web.jpg', :class => "category-image" %>

			<div class="category-box">
				<h2>Web Presense</h1>

					<p>We provide simple solutions to showcase your brand and make a great first impression online.  We make sure your business looks professional and consistent on all devices.</p>

					<button class="learn-button">
						Learn More
					</button>


			</div>


		</div>


	</div>

	</section>

<section id="team1"  class="about4">
<div class="about-title">


</div>

<div class="about-stuff">
	<div class="stuff1"><span class="bigstuff">1 Team</span>.

	</div>

	<div class="stuff1">
		<span class="bigstuff">1,000s</span></br> of hours at festivals.   

	</div>

	<div class="stuff1">
	<span class="bigstuff">10,000s</span></br> of interactions made.
	</div>

	<%= image_tag 'white-puzzle.png', :class => "puzzle-image2" %>

	<div class="about-information">

		<h1>The Missing Piece</h1>

		<p>We are a team of creatives who started 330 Monday from our love of festivals and marketing.  We have worked at many festivals and saw a need for better exhibitions at festivals, events and tradeshows.  Our team is ready to help your brand connect with fans and new customers by providing interactive solutions with exhibtions, social media and micro sites.
		</p>

	</div>


	</div>


</section>

<section id="faq1" class="about6">
		<div class="headline-service2">
			Frequently Asked Questions
			</div>


		<dl>
		  <dt>What is 330 Monday?</dt>
		  <dd>Specializing in connecting amazing people, with amazing brands, by cultivating amazing interactions during events for years to come.</dd>
		</dl>

		<dl>
		  <dt>Can 330 Monday use tradeshows and exhibits to make our brand stand out?</dt>
		  <dd>Trade Shows, conferences, festivals, concerts, fund raisers and large community events are known to attract a variety of people. Consumers come with intention to have a great time and spend money 97% of the time. <%= link_to 'Contact us', pages_about_us_path(:anchor => "contact1") %> to ensure your company makes a lasting impression that will equate to them choosing you every time. Start by taking a look at the <%= link_to 'services', pages_about_us_path(:anchor => "services1") %> we offer.</dd>
		</dl>	

		<dl>
		  <dt>What services can 330 Monday offer your company? </dt>
		  <dd>Interactive Marketing direction for 
			<ul>
				<li>Microsites (event results specific)</li>
				<li>Social Media Management utilizing Content management systems</li>
				<li>Exhibition Design and Connection Management</li>
			</ul>
			</dd>
		</dl>	

		<dl>
		  <dt>Do you offer fully customizable event specific exhibits?</dt>
		  <dd>Special events are our speciality. Share with us your vision and we can make it come to light according to your professional goals.</dd>
		</dl>

		<dl>
		  <dt>Do you offer assistance for 8x10 10x10 and 10x20 spaces?</dt>
		  <dd>Representing your brand with 330 Mondays has became easier, but the design options are endless. We can customize displays to encourage interactions and strengthen brand awareness. Ask about our print, stationary, mobile, and digital interaction success rate.</dd>
		</dl>

		<dl>
		  <dt>Do you create indoor and outdoor exhibits?</dt>
		  <dd>Yes, our professional exhibitionist can offer advice on dealing with extreme weather( heavy rain, heat waves, snow in the south, etc.). We can encourage requests that involve water or extreme heights.</dd>
		</dl>

		<dl>
		  <dt>Should our company purchase or rent an exhibit display?</dt>
		  <dd>330 Monday now offers exhibits for tradeshows to meet your budget. If you are looking to purchase an exhibit for continued brand awareness and would like the flexibility to have access to your exhibit on demand we encourage buying a state of the art exhibit display. Rental options are now easier with monthly payment arrangements drafted directly off company credit card.</dd>
		</dl>

		<dl>
		  <dt>Do you have an in house graphic team?</dt>
		  <dd>We want to see your company succeed every time. We welcome your design teams to submit graphics. For you convenience we have a full service graphics team who specializes in festivals, celebrations, and the biggest trade shows worldwide.</dd>
		</dl>

		<dl>
		  <dt>Do you offer assistance for 8x10 10x10 and 10x20 spaces?</dt>
		  <dd>Representing your brand with 330 Mondays has became easier, but the design options are endless. We can customize displays to encourage interactions and strengthen brand awareness. Ask about our print, stationary, mobile, and digital interaction success rate.</dd>
		</dl>


		<dl>
		  <dt>Where did the name come from? Are you obsessed with Mondays?</dt>
		  <dd>Every monday you are one step closer to getting to the next level. 330 Monday is here to help make those connections with successful relationships.</dd>
		</dl>

		<dl>
		  <dt>If home is where the heart is, where is home for 330 Monday?</dt>
		  <dd>In a world full of fun and excitement, we choose Charlotte, NC to be our home. Our passion is to actively explore the world to make it better with fun experiences.</dd>
		</dl>

		<dl>
		  <dt>Media Request can I get the exclusive?</dt>
		  <dd>We work with the best creative artist  nationwide and are willing to open the lines of communication. Send press inquiry request to info@330Monday.com with the subject Media Inquires.</dd>
		</dl>


		<dl>
		  <dt>What are the benefits of partnering with 330 Monday?</dt>
		  <dd>Charlotte customers deserve more. We represent a heap of outstanding businesses and an unique educated population of consumers and our events should connect the world.</dd>
		</dl>


		<dl>
		  <dt>Are you hiring now?</dt>

		  <dd>Absolutely, yes. If you're a talented engineer or designer we want to talk to you. Send an email to info@330Monday.com with the subject careers to start the conversation.</dd>
		</dl>

</section>

<section id="contact1" class="about3">


<div class="contact">
	<h1>every great interaction starts with a simple hello.</br>
		hey...let's chat.</h1>
	<span class="contact-email">info@330monday.com</span>
	<span class="contact-phone">704.712.2717</span>

	<p>Send us cool stuff!</br>PO Box 790311</br>Charlotte, NC 28206 </p>

	 <div class="social-links">
	 	<a href="https://instagram.com/330monday/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.facebook.com/330monday" target="_blank"><i class="fa fa-facebook-square"></i></a>
        <a href="https://twitter.com/330monday" target="_blank"><i class="fa fa-twitter-square"></i></a>
    </div>

    <div  class="cookie-box3">

	<p>Fill out and we will contact you shortly.</p>
    <%= render 'contacts/new' %>
		</div>

	</div>

	<div class="rights">All Rights Reserved, 330Monday. Site Designed by <%= link_to 'http://ccevans.com', :target => "_blank" do %> <%= image_tag 'spaceship-logo-black.png', :class => "design-footer" %> <% end %>.</div>




</section>



<script>
//When you hover over partner circle, you add class show-nav to wrapper demo
//select cirlce
$("#exhibit-menu").mouseenter(function(){
	$("#demo-wrapper").addClass("show-nav2");
	$("#exhibitcircle span").addClass("opacity");
	$("#arrowexhibit").addClass("clockwise180");
});
$("#exhibit-menu").mouseleave(function(){
	$("#demo-wrapper").removeClass("show-nav2");
	$("#exhibitcircle span").removeClass("opacity");
	$("#arrowexhibit").removeClass("clockwise180");
});

$("#partner-menu").mouseenter(function(){
	$("#demo-wrapper").addClass("show-nav");
	$("#partnercircle span").addClass("opacity");
	$("#arrowpartner").addClass("clockwise180");
});
$("#partner-menu").mouseleave(function(){
	$("#demo-wrapper").removeClass("show-nav");
	$("#partnercircle span").removeClass("opacity");
	$("#arrowpartner").removeClass("clockwise180");
});


//add class show-nav to wrapper demo
//how to do smooth tranisition
//stay on section long as hover over partner section
//move back to center section
//take class show-nav off wrapper demo

//When you haver over exhibit circle, you add class show-nav2 to wrapper demo



</script>


