
<%= image_tag 'howto-title-interact.jpg', :class => "title-image" %>

<section class="interact-section1">
<%= image_tag 'goals-title-interact1.png', :class => "title-image" %>
</section>

<section class="interact-section2">

	<%= image_tag 'goals-title-interact2.png', :class => "title-image" %>


	<div class="boxlines-1">
		<div class="boxlines-1a"></div>
		<div class="boxlines-1b"></div>

		<div class="boxlines-2">
			<div class="boxlines-2a"></div>
			<div class="boxlines-2b"></div>
			<div class="boxlines-2c"></div>
			
		</div>

		<div class="boxlines-3">
			<%= link_to '#', id: "goalbox1" do %>
				<div class="boxlines-3a boxhover">GET</br>MONEY!</div>
			<% end %>
			<%= link_to '#', id: "goalbox2" do %>
				<div class="boxlines-3b boxhover">GET</br>FAME!</div>
			<% end %>
			<%= link_to '#', id: "goalbox3" do %>
				<div class="boxlines-3c boxhover">CHANGE</br>THE</br>WORLD!</div>
			<% end %>
			<%= link_to '#', id: "goalbox4" do %>
				<div class="boxlines-3d boxhover">BAKE</br>COOKIES!</div>
			<% end %>
			
		</div>


	</div>









	</section>
