
<%= image_tag 'howto-title-interact.jpg', :class => "title-image" %>

<%= image_tag 'howto-title-interact-mobile.jpg', :class => "title-image-mobile" %>

<section class="interact-section1">
<%= image_tag 'goals-title-interact1.png', :class => "title-image" %>

<%= image_tag 'goals-title-interact-mobile.png', :class => "title-image-mobile" %>
</section>

<section class="interact-section2">

	<%= image_tag 'goals-title-interact2.png', :class => "title-image" %>

	<%= image_tag 'goals-title-interact2-mobile.png', :class => "title-image-mobile" %>


	<div class="boxlines-1">
		<div class="boxlines-1a"></div>
		<div class="boxlines-1b"></div>

		<div class="boxlines-2">
			<div class="boxlines-2a"></div>
			<div class="boxlines-2b"></div>
			<div class="boxlines-2c"></div>
			
		</div>



		<div class="boxlines-3">
			<div class="boxoutlines-3">
				<%= link_to '#lottery1', id: "goalbox1", onclick: "showstuff('lottery1'); hidestuff('band1'); hidestuff('recycle1'); hidestuff('bake1'); hidestuff('blank1'); hidestuff('no-goals-band'); hidestuff('yes-goals-band'); hidestuff('yes-goals-recycle'); hidestuff('no-goals-recycle'); hidestuff('yes-goals-bake'); hidestuff('no-goals-bake');" do %>
					<div class="boxlines-3a boxhover">GET</br>MONEY!</div>
				<% end %>

				<div class="boxlines-b2b"></div>


			</div>
			<div class="boxoutlines-3">
				<div class="boxlines-3b2"></div>
				<%= link_to '#band1', id: "goalbox2", onclick: "hidestuff('lottery1'); showstuff('band1'); hidestuff('recycle1'); hidestuff('bake1'); hidestuff('blank1'); hidestuff('no-goals'); hidestuff('yes-goals'); hidestuff('yes-goals-recycle'); hidestuff('no-goals-recycle'); hidestuff('yes-goals-bake'); hidestuff('no-goals-bake');" do %>
					<div class="boxlines-3b boxhover">GET</br>FAME!</div>
				<% end %>

				<div class="boxlines-b2c"></div>
			</div>
			<div class="boxoutlines-3">
				<%= link_to '#recycle1', id: "goalbox3", onclick: "hidestuff('lottery1'); hidestuff('band1'); showstuff('recycle1'); hidestuff('bake1'); hidestuff('blank1'); hidestuff('no-goals'); hidestuff('yes-goals'); hidestuff('no-goals-band'); hidestuff('yes-goals-band'); hidestuff('yes-goals-bake'); hidestuff('no-goals-bake');" do %>
					<div class="boxlines-3c boxhover">CHANGE</br>THE</br>WORLD!</div>
				<% end %>

				<div class="boxlines-b2b"></div>
			</div>
			<div class="boxoutlines-3">
				<div class="boxlines-3d2"></div>
				<%= link_to '#bake1', id: "goalbox4", onclick: "hidestuff('lottery1'); hidestuff('band1'); hidestuff('recycle1'); showstuff('bake1'); hidestuff('blank1'); hidestuff('no-goals'); hidestuff('yes-goals'); hidestuff('no-goals-band'); hidestuff('yes-goals-band'); hidestuff('yes-goals-recycle'); hidestuff('no-goals-recycle');" do %>
					<div class="boxlines-3d boxhover">BAKE</br>COOKIES!</div>
				<% end %>

				<div class="boxlines-b2a"></div>
			</div>

			<div class="boxlinesbottom-3"></div>
			
		</div>

		<div class="boxlines-33">




		<div class="red-background">
			

				<div id="blank1">
					<div class="yellow-background">	
						<div class="question-goal">
							Choose A Goal To Get Started.
						</div>

					</div>

				</div>	

				<div id="lottery1">
					<div class="yellow-background">	
						<div class="question-goal">
							Do you want to play our lottery?
						</div>

					</div>

			<div class="question-box1">
				<div class="boxline-question1"></div>

			<%= link_to '#yes-goals2', id: "goalbox4", onclick: "showstuff('yes-goals'); hidestuff('no-goals');" do %>
			
				<div class="yesno-circle boxhover">YES</div>
				<% end %>

			</div>

			<div class="question-box2">
				<div class="boxline-question1"></div>
				<%= link_to '#no-goals2', id: "goalbox4", onclick: "hidestuff('yes-goals'); showstuff('no-goals');" do %>
				<div class="yesno-circle boxhover">NO</div>
				<% end %>


			</div>

			<div id="yes-goals">

			<div class="question-box1">
				<div class="boxline-diagonal"></div>

			</div>

			<div class="question-box2">
				

			</div>





				<div class="play-circle-new">

					<div id="yes-goals2" class="cookie-box3">

						<h1>Let's Play.</h1>

						<p>Our lottery is pretty simple.  Press play and if you get a matching set of numbers, you win.  Email us that you won the lottery and we will send you your prize.</p>



						<div id="number" class="random-box">33</div>

						<div id="number2" class="random-box">30</div>

						<div id="number3" class="random-box">33</div>

						<div id="number4" class="random-box">30</div>

						<button onclick="myFunction()">Play</button>


						</div>

						<div class="cookie-box-bottom">		
						Did you win?  No worries, good thing getting results don't take being lucky.  We provide interactive startegies that get customers excited about your brand and results for your barnd.  Let's head to the research step.</br></br>

						<%= link_to pages_about_us_path(:anchor => "contact1") do %>
							<span class="contact-interact">Ready To Work? Contact Us Today.</span>
						<% end %>

			
					</div>
			

				</div>

				<div class="boxline-question2"></div>

				</div>	

			<div id="no-goals">

			<div class="question-box1">
				

			</div>

			<div class="question-box2">
				<div class="boxline-diagonal2"></div>

			</div>



				<div class="play-circle-new">

					<div id="no-goals2" class="cookie-box2">

						<h1>Bummer, got better ideas?</h1>

						<p>We don't depend on luck much either.  We believe in hard work and providing a great product/service to increase revenue.  But winning the lotto would be an added bonus.</p>

						<h4>Ideas For Quick Cash</h4>
						<ul>
							<li>Invest In Some Penny Stocks</li>
							<li>Get Adopted By Mark Zuckerberg</li>
							<li>Become Kanye West Best Friend</li>
							<li>Sell Your Junk On Ebay</li>
						</ul>

						

						</div>

						<div class="cookie-box-half">


						<div class="viral-stats2">
							Feeling Lucky?
						</div>
					</div>


						<div class="cookie-box-bottom">		
						Any luck on making a fortune?  No worries, good thing getting results don't take being lucky.  We provide interactive startegies that get customers excited about your brand and results for your barnd.  Let's head to the research step.</br></br>

						<%= link_to pages_about_us_path(:anchor => "contact1") do %>
							<span class="contact-interact">Ready To Work? Contact Us Today.</span>
						<% end %>

			
					</div>

				</div>

				<div class="boxline-question2"></div>

				</div>	
			</div>


				<div id="band1">
					<div class="yellow-background">	
						<div class="question-goal">
							Are you part of a band?
						</div>

					</div>

				<div class="question-box1">
				<div class="boxline-question1"></div>

			<%= link_to '#yes-goals-band2', id: "goalbox4", onclick: "showstuff('yes-goals-band'); hidestuff('no-goals-band');" do %>
			
				<div class="yesno-circle boxhover">YES</div>
				<% end %>

			</div>

			<div class="question-box2">
				<div class="boxline-question1"></div>
				<%= link_to '#no-goals-band2', id: "goalbox4", onclick: "hidestuff('yes-goals-band'); showstuff('no-goals-band');" do %>
				<div class="yesno-circle boxhover">NO</div>
				<% end %>


			</div>

			<div id="yes-goals-band">

			<div class="question-box1">
				<div class="boxline-diagonal"></div>

			</div>

			<div class="question-box2">
				

			</div>



				<div class="play-circle-new">
					

					<div id="yes-goals-band2" class="cookie-box2">

						<h1>Let's Go Viral.</h1>

						<p>Great, grab a camera and submit it to Youtube.  If you all got the skills, I’m sure you will go viral in no time.  Send us a link to the video and we will send you some feedback.</p>

						<h4>Tips On Taking Your Band Viral</h4>
						<ul>
							<li>Be Authentic</li>
							<li>Be Yourself</li>
							<li>Be Different</li>
							<li>Have Great Music</li>
						</ul>

						</div>

						<div class="cookie-box-half">
						<div class="viral-stats">
							.33%

						</div>

						<div class="viral-stats2">
							chance of getting</br>a million views
						</div>
					</div>


					<div class="cookie-box-bottom">		
						Famous yet?  No worries, getting fame is kinda overrated.  Gaining fans and followers of your brand is not though.  We can help turn potential customers into people who love and adore your brand like they would their favorite band.  Let's head to the research step.</br></br>

						<%= link_to pages_about_us_path(:anchor => "contact1") do %>
							<span class="contact-interact">Ready To Work? Contact Us Today.</span>
						<% end %>
					</div>
					

				</div>

				<div class="boxline-question2"></div>

				</div>	

			<div id="no-goals-band">

			<div class="question-box1">
				

			</div>

			<div class="question-box2">
				<div class="boxline-diagonal2"></div>

			</div>



				<div class="play-circle-new">

					<div id="no-goals-band2" class="cookie-box2">

						<h1>Not Much of A Musician, Huh?</h1>

						<p>We don’t have too much musical talent either.  But we know how to create cool experiences that get people to love your brand.  Not sure why we don't have a million followers yet.</p>

						<h4>Other Ways To Get Fame</h4>
						<ul>
							<li>Record Your Cute Cat</li>
							<li>Audition For A Reality Show</li>
							<li>Run For President</li>
							<li>Maybe Try Hiring A Publicist</li>
						</ul>

						

						</div>

						<div class="cookie-box-half">
						<div class="viral-stats">
							1 to 10M

						</div>

						<div class="viral-stats2">
							chance of</br>becoming</br>President
						</div>
					</div>


					<div class="cookie-box-bottom">		
						Famous yet?  No worries, getting fame is kinda overrated.  Gaining fans and followers of your brand is not though.  We can help turn potential customers into people who love and adore your brand like they would their favorite band.  Let's head to the research step.</br></br>

						<%= link_to pages_about_us_path(:anchor => "contact1") do %>
							<span class="contact-interact">Ready To Work? Contact Us Today.</span>
						<% end %>

					</div>

				</div>

				<div class="boxline-question2"></div>

				</div>	

				</div>
				<div id="recycle1">
					<div class="yellow-background">	
						<div class="question-goal">
							Do you have a recycling program?
						</div>

					</div>

				<div class="question-box1">
				<div class="boxline-question1"></div>

			<%= link_to '#yes-goals-recycle2', id: "goalbox4", onclick: "showstuff('yes-goals-recycle'); hidestuff('no-goals-recycle');" do %>
			
				<div class="yesno-circle boxhover">YES</div>
				<% end %>

			</div>

			<div class="question-box2">
				<div class="boxline-question1"></div>
				<%= link_to '#no-goals-recycle2', id: "goalbox4", onclick: "hidestuff('yes-goals-recycle'); showstuff('no-goals-recycle');" do %>
				<div class="yesno-circle boxhover">NO</div>
				<% end %>


			</div>

			<div id="yes-goals-recycle">

			<div class="question-box1">
				<div class="boxline-diagonal"></div>

			</div>

			<div class="question-box2">
				

			</div>



				<div class="play-circle-new">
					<div id="yes-goals-recycle2" class="cookie-box2">

						<h1>Every Little Bit Counts.</h1>

						<p>A simple recycling program is a great start to changing the world.  Share your program with us on Instagram with pictures or videos with #330WORLDCHANGERS.  You are already on your way to change the world and we are ready to help you along the way.</p>

						<h4>Other Little Things To Start Changing The World</h4>
						<ul>
							<li>Plant A Tree</li>
							<li>Run For A Charity</li>
							<li>Clean Up A Neighborhood</li>
							<li>Mentor The Youth</li>
						</ul>

						</div>

						<div class="cookie-box-half">
						<div class="viral-stats2">
							One Step Can Change Your Brand

						</div>

			
					</div>


					<div class="cookie-box-bottom">	
						Our goal is to help you change the world as well.  We can help connect your brand to people who share your mission and passion.  Let's head to the solution step.</br></br>

						<%= link_to pages_about_us_path(:anchor => "contact1") do %>
							<span class="contact-interact">Ready To Work? Contact Us Today.</span>
						<% end %>

					</div>
				</div>

				<div class="boxline-question2"></div>

				</div>	

			<div id="no-goals-recycle">

			<div class="question-box1">
				

			</div>

			<div class="question-box2">
				<div class="boxline-diagonal2"></div>

			</div>



				<div class="play-circle-new">
			<div id="no-goals-recycle2" class="cookie-box2">

						<h1>Let's Start A Program</h1>

						<ol>
							<li>Figure out what items can be recycled</li>
							<li>Appoint a coordinator</li>
							<li>Educate the team</li>
							<li>Spread the office with bins</li>
							<li>Motivate the office</li>
						</ol>

						<p>There are plenty of little things you can do today to start changing the world.  Let us know the little things you are doing to change the world.  Tag us on Instagram with pictures or videos with #330WORLDCHANGERS and show us what you are doing. </p>
						

						</div>

						<div class="cookie-box-half">
						<div class="viral-stats">
							Start Today

						</div>
					</div>



					<div class="cookie-box-bottom">	
						Our goal is to help you change the world as well.  We can help connect your brand to people who share your mission and passion.  Let's head to the solution step.</br></br>

						<%= link_to pages_about_us_path(:anchor => "contact1") do %>
							<span class="contact-interact">Ready To Work? Contact Us Today.</span>
						<% end %>

					</div>
				</div>

				<div class="boxline-question2"></div>

				</div>	

				</div>											
				<div id="bake1">
					<div class="yellow-background">	
						<div class="question-goal">
							Need A Cookie Recipe?


						</div>

					</div>

				<div class="question-box1">
				<div class="boxline-question1"></div>

			<%= link_to '#yes-goals-bake2', id: "goalbox4", onclick: "showstuff('yes-goals-bake'); hidestuff('no-goals-bake');" do %>
			
				<div class="yesno-circle boxhover">YES</div>
				<% end %>

			</div>

			<div class="question-box2">
				<div class="boxline-question1"></div>
				<%= link_to '#no-goals-bake2', id: "goalbox4", onclick: "hidestuff('yes-goals-bake'); showstuff('no-goals-bake');" do %>
				<div class="yesno-circle boxhover">NO</div>
				<% end %>


			</div>

			<div id="yes-goals-bake">

			<div class="question-box1">
				<div class="boxline-diagonal"></div>

			</div>

			<div class="question-box2">
				

			</div>

		<div class="play-circle-new">

						<div id="yes-goals-bake2" class="cookie-box">
						<h1>Try Our Favorite</h1>

							<h4>Exclusive Browcookies Recipe</h4>

							<p>Brookies, where cookie dough is baked on top of brownie batter, are taken to a new level with the introduction of a praline layer.</p>

							<h4>Ingredients</h4>
							<ul>
							<li>1box (19.5 oz) fudge brownie mix</li>
							<li>1roll (16.5 oz) refrigerated mini-chocolate chip cookies</li>
							<li>Vanilla ice cream, if desired</li>
							</ul>

							<h4>Steps</h4>
							<ol>
							<li>Pre-Heat oven to 350°F (325°F for dark pan). Lightly spray pan with cooking spray. set aside. Make brownie mix as directed on box using oil, water and eggs. Spread batter evenly fill 2/3 full. Bake 20-25 minutes.</li>
							<li>Carefully place cookie dough on top of each brownie. (Spaces between cookie dough pieces will spread during baking to cover top.)</li>
							<li>Bake 23 to 28 minutes longer or until cookie topping is deep golden brown. If serving as bars, cool 2 hours; cut into 6 rows by 4 rows. If serving with ice cream as dessert, cool 20 to 30 minutes.</li>
							</ol>
						</div>



					<div class="cookie-box-bottom">	
						How the cookies turn out?  Connecting your brand to what potential customers love is one of the things we do best.  Do you know what your target market like to do in their spare time? </br></br>

						<%= link_to pages_about_us_path(:anchor => "contact1") do %>
							<span class="contact-interact">Ready To Work? Contact Us Today.</span>
						<% end %>

					</div>
				</div>


				<div class="boxline-question2"></div>

				</div>	

			<div id="no-goals-bake">

			<div class="question-box1">
				

			</div>

			<div class="question-box2">
				<div class="boxline-diagonal2"></div>

			</div>

			<div class="play-circle-new">
			<div id="no-goals-bake2" class="cookie-box2">

						<h1>Let's Bake Some Cookies</h1>

						<p>We love cookies and trying new things.  Share with us your favorite cookie recipe.  Feel free to tag us on Instagram with pictures of your cookies or shoot us your recipe so we can try it out.</p>
						

						</div>

						<div class="cookie-box-half">
						<div class="viral-stats2">
							Cookies Make Everybody Happy

						</div>
					</div>



					<div class="cookie-box-bottom">	
						How the cookies turn out?  Connecting your brand to what potential customers love is one of the things we do best.  Do you know what your target market like to do in their spare time? </br></br>

					<%= link_to pages_about_us_path(:anchor => "contact1") do %>
						<span class="contact-interact">Ready To Work?  Contact Us Today.</span>
					<% end %>
					
					</div>
				</div>
	

				<div class="boxline-question2"></div>

				</div>	

				</div>

		</div>
	</div>
			<section class="interact-section4">

				<%= image_tag 'research-interact2.jpg', :class => "title-image" %>

				<%= image_tag 'research-interact2-mobile.jpg', :class => "title-image-mobile" %>

				<div class="boxlines-5a2"></div>

 				<div class="research-box0">

					<div  class="cookie-box3">

						<h1>Do You Know Your Customers?</h1>

						<p>Based on the marketing goals of your brand, we can start researching your target market and strateging a plan.  It's one thing to know who your target market is but it's another thing to know how to interact with your market to turn them into fans and customers of your brand.  We will help you figure out the best market to focus on and how to find them and connect with them.</p>

						</div>

				</div>				


				<div class="boxlines-5a"></div>
				<div class="boxlines-5b"></div>




				<div class="play-circle3">
					Ready To Reveiw Our Top Reseach Questions 
				</div>

				<div class="box-research-over">

					<div class="boxlines-5c"></div>

				<%= link_to '#yes-research', id: "goalbox4", onclick: "showstuff('yes-research'); hidestuff('no-research'); hidestuff('ready-yesno');" do %>
				<div class="play-circle4">
					Yes
				</div>
				<% end %>					


					<div class="clear"></div>

					<div class="boxlines-5e"></div>

				</div>

				<div class="boxlines-5b"></div>
					<%= link_to '#no-research', id: "goalbox4", onclick: "showstuff('no-research'); hidestuff('yes-research'); hidestuff('ready-yesno');" do %>
					<div class="play-circle5">
						No
					</div>

					<% end %>				


				<div class="boxlines-5d"></div>

				<div class="box-research">


					<div id="ready-yesno" class="ready-yesno-class">
						Ready?</br><span class="small-ready">(Yes/No)</span>
					</div>


					<div id="yes-research">
					<div  class="cookie-box3">

						<h1>Research Questions.</h1>

						<ul class="fa-ul">
							<li><i class="fa-li fa fa-square-o"></i>What Does Your Target Market Look Like?</li>
							<li><i class="fa-li fa fa-square-o"></i>Where Does Your Taget Market eat?</li>
							<li><i class="fa-li fa fa-square-o"></i>Where Does Your Taget Market play?</li>
							<li><i class="fa-li fa fa-square-o"></i>What Does Your Target Market Watch?</li>
							<li><i class="fa-li fa fa-square-o"></i>What Social Media Does Your Target Market Use?</li>
							<li><i class="fa-li fa fa-square-o"></i>What Does Your Target Market Do On The Weekend?</li>
						</ul>

						</div>						

					</div>

					<div id="no-research">
					<div  class="cookie-box3">

						<h1>Maybe You Would Like To Bid On Our Brainwashing Machine</h1>

						<p>Researching your target market and developing a plan to learn how to intereact with your potential customers is important.  Most brands like to just throw a dart at a board and hope for the best.  </p>

						</div>						

					</div>



				</div>

				<div class="boxlines-5a"></div>
				<div class="boxlines-5b"></div>



			
	</section>

	<section class="interact-section5">

			<%= image_tag 'solutions-interact.jpg', :class => "title-image" %>

			<%= image_tag 'solutions-interact-mobile.jpg', :class => "title-image-mobile" %>

			<div class="boxlines-6a"></div>
				<div class="boxlines-6b"></div>

				<div class="box-solution">

					<div  class="cookie-box3">

					<h1>Interactive Exhibits</h1>

						
							<p>If you have to chase people down to come to your booth, you are doing it all wrong. What if you had an exhibition, where people ran over to see what was going on? We develop interactive exhibitions for festivals, concerts, events, street campaigns, etc for brands that want to reach new markets and make long lasting impressions on potential customers.</p>

							<div class="description-service">
							<ul>
								<li>Research / Consulting</li>
								<li>Interactive Events</li>
								<li>Custom Booth Displays</li>
								<li>Customer Engagement</li>
								<li>Data Collection</li>
								<li>Photography & Videography</li>
								<li>Mini Event Series</li>
								<li>Traveling Tours</li>
							</ul>

							<ul>
								<li>Promo & Banner Design</li>
								<li>Tradeshows and Conventions</li>
								<li>Interactive Sporting Exhibits</li>
								<li>Local Festivals and Events</li>
								<li>Contest Development</li>
								<li>Event Sponsorships</li>
								<li>Fan Acquisition</li>
							</ul>
								

						</div>
					</div>

				</div>

				<div class="boxlines-6c"></div>


				<div class="box-solution2">
	

				<div  class="cookie-box3">

					<h1>Interactive Social Media</h1>
						
							<p>How are you engaging your followers?  Do you need to organicly grow your followers?</p>

						<div class="description-service">
						<ul>
							<li>Social Games</li>
							<li>Interactive Branded Content</li>
							<li>Brand Social Strategy</li>
							<li>Event Recap</li> 
							<li>Story Showcase</li>
						</ul> 

								

						</div>
					</div>

				</div>

		<div class="box-solution2">
				

				<div  class="cookie-box3">

					<h1>Interactive Microsites</h1>

						
							<p>Our interactive microsites are used to turn potential markets into customers and fan of your brand.</p>

							<div class="description-service">
								<ul>
									<li>Interactive Landing Pages</li>
									<li>Mini Games</li>
									<li>Marketing Campaigns</li>
									<li>Event Campaigns</li>
									<li>Fan Generated Content</li>
									<li>Fan Acquisition</li>
								</ul> 


								

						</div>
					</div>	

				</div>

				<div class="boxlines-6b"></div>

				
				<div class="play-circle6">
					<%= link_to pages_about_us_path(:anchor => "faq1") do %>
						Why</br>Us?
						<% end %>	
				</div>			
				



				<div class="boxlines-6b"></div>


	</section>

	<section class="interact-section6">

		<%= image_tag 'invest-interact.jpg', :class => "title-image" %>

		<%= image_tag 'invest-interact.jpg', :class => "title-image-mobile" %>

		<div class="boxlines-6f"></div>
		<div class="boxlines-6g"></div>
		<div class="question-box1">
			<%= link_to '#yes-invest', id: "goalbox4", onclick: "showstuff('yes-invest'); hidestuff('no-invest'); hidestuff('ready-yesno2');" do %>
			<div class="play-circle7">
				Yes
			</div>
		<% end %>
		</div>

		<div class="question-box2">
			<%= link_to '#no-invest', id: "goalbox4", onclick: "showstuff('no-invest'); hidestuff('yes-invest'); hidestuff('ready-yesno2');" do %>
			<div class="play-circle8">
				No
			</div>
		<% end %>
		</div>

		<div class="boxlines-6g"></div>

		<div class="box-invest">

			<div id="ready-yesno2" class="ready-yesno-class">
				Ready?</br><span class="small-ready">(Yes/No)</span>
			</div>

			<div id="yes-invest">

				<div  class="cookie-box3">

					<h1>You’re in luck.</h1>

				<p>Can we offer a no obligation in person 15min consultation to discuss your goals? We can come to you or you can come to us? Break the ice by starting with this.</p>

				<%= render 'contacts/new' %>
			</div>


			</div>
			<div id="no-invest">

				<div  class="cookie-box3">

					<h1>Still have questions?</h1>

				<p>Contact Us Today</p>

				<%= render 'contacts/new' %>

			</div>

			</div>

		</div>


	</section>


	</div>



	</section>


	<section class="interact-section3">

				


	</section>


<script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'inline')
          e.style.display = 'none';
       else
          e.style.display = 'inline';
    }
function showstuff(id){
   document.getElementById(id).style.display = 'inline';
}
 
function hidestuff(id){
   document.getElementById(id).style.display = 'none';
}
//-->
</script>

<script>
(function($){
    $.fn.extend({
        numAnim: function(options) {
            if ( ! this.length)
                return false;

            this.defaults = {
                endAt: 2560,
                numClass: 'autogen-num',
                duration: 500,   // seconds
                interval: 90  // ms
            };
            var settings = $.extend({}, this.defaults, options);

            var $num = $('<span/>', {
                'class': settings.numClass 
            });

            return this.each(function() {
                var $this = $(this);

                // Wrap each number in a tag.
                var frag = document.createDocumentFragment(),
                    numLen = settings.endAt.toString().length;
                for (x = 0; x < numLen; x++) {
                    var rand_num = Math.floor( Math.random() * 10 );
                    frag.appendChild( $num.clone().text(rand_num)[0] )
                }
                $this.empty().append(frag);

                var get_next_num = function(num) {
                    ++num;
                    if (num > 9) return 0;
                    return num;
                };

                // Iterate each number.
                $this.find('.' + settings.numClass).each(function() {
                    var $num = $(this),
                        num = parseInt( $num.text() );

                    var interval = setInterval( function() {
                        num = get_next_num(num);
                        $num.text(num);
                    }, settings.interval);

                    setTimeout( function() {
                        clearInterval(interval);
                    }, settings.duration * 1000 - settings.interval);
                });
                
                setTimeout( function() {
                    $this.text( settings.endAt.toString() );
                }, settings.duration * 1000);
            });
        }
    });
})(jQuery);



</script>

<script>
function myFunction() {
    $("#number").numAnim({
    endAt: Math.floor( (Math.random() * 100)  ),
    duration: 2
});
    $("#number2").numAnim({
    endAt: Math.floor( (Math.random() * 100)  ),
    duration: 3
});
    $("#number3").numAnim({
    endAt: Math.floor( (Math.random() * 100)  ),
    duration: 4
});

   $("#number4").numAnim({
    endAt: Math.floor( (Math.random() * 100)  ),
    duration: 5
});
}
</script>

<script>
function myFunction() {
    var x = Math.floor((Math.random() * 10) + 1);
    document.getElementById("demo").innerHTML = x;

    if x = 1 {
    	var y = "hey, x is 1";
    	document.getElementById("demo2").innerHTML = y;
    }
}
</script>