<div id="services-layer">
	<div id="nav-circle">
		
		<%= image_tag 'green-circle.svg', :class => "", :id => "services-circle" %>
		<div class="nav-circle-title">Services</div>
	</div>
	<div id="nav-circle2">
		
	<%= image_tag 'yellow-circle.svg', :class => "", :id => "services-circle2" %>
	<div class="nav-circle-title">Why Marketing?</div>
</div>
	<div id="nav-circle3">
		
	<%= image_tag 'red-circle.svg', :class => "", :id => "services-circle3" %>
	<div class="nav-circle-title">Why 330?</div>
	</div>
</div>


	<section class="services-section">

		<h1>WE HANDLE ALL OF</br>YOUR MARKETING AND</br>COMMUNICATIONS NEEDS.</h1>

		<div class="categories">
		<div class="service-category">
			<%= image_tag 'services-face.jpg', :class => "category-image" %>

			<div class="category-box">
				<h2>Face To Face</h1>

					<p>We provide interactive solutions to engage future customers at festivals, tradeshows and events.  Also provide solutions for in house events and sponsorship partnerships.</p>

					<button id="button1" class="learn-button nodisplay">
						Learn More
					</button>

					<%= image_tag 'arrowdown.png', :class => "arrowshow", :id => "arrowdown1" %>


			</div>


		</div>

				<div class="service-category">
			<%= image_tag 'services-social.jpg', :class => "category-image" %>

			<div class="category-box">
				<h2>Communication</h1>

					<p>We provide solutions to connect to your target market online and offline.  We help you develop a message to use on social media and in other tradition channels.</p>

					<button id="button2" class="learn-button">
						Learn More
					</button>

					<%= image_tag 'arrowdown.png', :class => "nodisplay arrowshow", :id => "arrowdown2" %>


			</div>


		</div>

				<div class="service-category">
			<%= image_tag 'services-web.jpg', :class => "category-image" %>

			<div class="category-box">
				<h2>Web Presense</h1>

					<p>We provide simple solutions to showcase your brand and make a great first impression online.  We make sure your business looks professional and consistent on all devices.</p>

					<button id="button3" class="learn-button">
						Learn More
					</button>

					<%= image_tag 'arrowdown.png', :class => "nodisplay arrowshow", :id => "arrowdown3" %>

			</div>


		</div>


	</div>

	</section>

	<section id="facetoface" class="services-detail">
		<div class="services-types">
			<h2>Interactive Exhibitions and Events</h2>

			<ul>
				<li>Tradeshows</li>
				<li>Fesival Vendors</li>
				<li>Event Sponsorship</li>
				<li>In House Events</li>
				<li>Campaign Tours</li>
				<li>Brand Activation</li>
				<li>Market Research</li>

			</ul>

			<div class="services-question">
				Need a partner to help spread your brand at festivals and events?
			</div>

					<button class="contact-button">
						Contact Today
					</button>


		</div>

		<div class="services-description">
			<h2>Exhibitions that make others excited and get results</h2>

			<p>
				Readymade plaid bitters street art, fanny pack banh mi authentic Shoreditch American Apparel bicycle rights post-ironic brunch 3 wolf moon lo-fi +1. Locavore sartorial occupy Marfa polaroid. Forage fixie meh gastropub Echo Park Vice. Austin banh mi Odd Future chambray fixie, Echo Park trust fund deep v irony hoodie VHS banjo Vice hashtag. Hella butcher authentic Marfa, bespoke Pinterest blog Tumblr. Sartorial tote bag occupy bicycle rights master cleanse, aesthetic 8-bit health goth kogi disrupt next level cornhole Williamsburg. Roof party messenger bag four loko ennui Pinterest Godard.</p>
				<p>
				8-bit typewriter master cleanse, leggings raw denim retro salvia yr. Bushwick polaroid mlkshk butcher Shoreditch fixie. IPhone Blue Bottle farm-to-table ethical mixtape. Gentrify roof party craft beer organic paleo, Blue Bottle Vice bitters. Sartorial cornhole pickled Tumblr, beard cliche Intelligentsia. Normcore Carles bitters, salvia cred deep v typewriter jean shorts post-ironic meggings farm-to-table. Heirloom pop-up drinking vinegar crucifix, Marfa beard Etsy vegan bicycle rights roof party lumbersexual Echo Park.</p>
				<p>
				Yr deep v +1, small batch 3 wolf moon Carles Pinterest chia beard. Synth American Apparel tote bag kale chips squid roof party, Pitchfork master cleanse literally post-ironic fixie paleo slow-carb swag viral. Taxidermy YOLO lo-fi hashtag gastropub try-hard normcore chia cray put a bird on it brunch. Tofu Austin iPhone readymade roof party whatever. Ennui cred plaid yr, scenester leggings squid blog raw denim Austin. Cornhole gentrify selfies, Blue Bottle pop-up Pinterest occupy. Four dollar toast locavore High Life gentrify meditation roof party.</p>
				<p>
				Artisan wolf four loko hashtag. Kale chips skateboard craft beer wayfarers tattooed gentrify organic, stumptown food truck slow-carb selvage. Fap DIY artisan Marfa organic. Bicycle rights pour-over church-key raw denim, whatever deep v Shoreditch selvage salvia mustache bitters Austin cornhole McSweeney's pickled. Keytar Odd Future put a bird on it pop-up post-ironic. Banh mi disrupt chillwave VHS sriracha. Godard mlkshk hoodie semiotics fingerstache wayfarers authentic.
			</p>




		</div>


	</section>

<section id="communication" class="services-detail nodisplay">
		<div class="services-types">
			<h2>Communication</h2>

			<ul>
				<li>Tradeshows</li>
				<li>Fesival Vendors</li>
				<li>Event Sponsorship</li>
				<li>In House Events</li>
				<li>Campaign Tours</li>
				<li>Brand Activation</li>
				<li>Market Research</li>

			</ul>

			<div class="services-question">
				Need a partner to help spread your brand at festivals and events?
			</div>

					<button class="contact-button">
						Contact Today
					</button>


		</div>

		<div class="services-description">
			<h2>Exhibitions that make others excited and get results</h2>

			<p>
				Readymade plaid bitters street art, fanny pack banh mi authentic Shoreditch American Apparel bicycle rights post-ironic brunch 3 wolf moon lo-fi +1. Locavore sartorial occupy Marfa polaroid. Forage fixie meh gastropub Echo Park Vice. Austin banh mi Odd Future chambray fixie, Echo Park trust fund deep v irony hoodie VHS banjo Vice hashtag. Hella butcher authentic Marfa, bespoke Pinterest blog Tumblr. Sartorial tote bag occupy bicycle rights master cleanse, aesthetic 8-bit health goth kogi disrupt next level cornhole Williamsburg. Roof party messenger bag four loko ennui Pinterest Godard.</p>
				<p>
				8-bit typewriter master cleanse, leggings raw denim retro salvia yr. Bushwick polaroid mlkshk butcher Shoreditch fixie. IPhone Blue Bottle farm-to-table ethical mixtape. Gentrify roof party craft beer organic paleo, Blue Bottle Vice bitters. Sartorial cornhole pickled Tumblr, beard cliche Intelligentsia. Normcore Carles bitters, salvia cred deep v typewriter jean shorts post-ironic meggings farm-to-table. Heirloom pop-up drinking vinegar crucifix, Marfa beard Etsy vegan bicycle rights roof party lumbersexual Echo Park.</p>
				<p>
				Yr deep v +1, small batch 3 wolf moon Carles Pinterest chia beard. Synth American Apparel tote bag kale chips squid roof party, Pitchfork master cleanse literally post-ironic fixie paleo slow-carb swag viral. Taxidermy YOLO lo-fi hashtag gastropub try-hard normcore chia cray put a bird on it brunch. Tofu Austin iPhone readymade roof party whatever. Ennui cred plaid yr, scenester leggings squid blog raw denim Austin. Cornhole gentrify selfies, Blue Bottle pop-up Pinterest occupy. Four dollar toast locavore High Life gentrify meditation roof party.</p>
				<p>
				Artisan wolf four loko hashtag. Kale chips skateboard craft beer wayfarers tattooed gentrify organic, stumptown food truck slow-carb selvage. Fap DIY artisan Marfa organic. Bicycle rights pour-over church-key raw denim, whatever deep v Shoreditch selvage salvia mustache bitters Austin cornhole McSweeney's pickled. Keytar Odd Future put a bird on it pop-up post-ironic. Banh mi disrupt chillwave VHS sriracha. Godard mlkshk hoodie semiotics fingerstache wayfarers authentic.
			</p>




		</div>


	</section>

<section id="webpresence" class="services-detail nodisplay">
		<div class="services-types">
			<h2>Web Presence</h2>

			<ul>
				<li>Tradeshows</li>
				<li>Fesival Vendors</li>
				<li>Event Sponsorship</li>
				<li>In House Events</li>
				<li>Campaign Tours</li>
				<li>Brand Activation</li>
				<li>Market Research</li>

			</ul>

			<div class="services-question">
				Need a partner to help spread your brand at festivals and events?
			</div>

					<button class="contact-button">
						Contact Today
					</button>


		</div>

		<div class="services-description">
			<h2>Exhibitions that make others excited and get results</h2>

			<p>
				Readymade plaid bitters street art, fanny pack banh mi authentic Shoreditch American Apparel bicycle rights post-ironic brunch 3 wolf moon lo-fi +1. Locavore sartorial occupy Marfa polaroid. Forage fixie meh gastropub Echo Park Vice. Austin banh mi Odd Future chambray fixie, Echo Park trust fund deep v irony hoodie VHS banjo Vice hashtag. Hella butcher authentic Marfa, bespoke Pinterest blog Tumblr. Sartorial tote bag occupy bicycle rights master cleanse, aesthetic 8-bit health goth kogi disrupt next level cornhole Williamsburg. Roof party messenger bag four loko ennui Pinterest Godard.</p>
				<p>
				8-bit typewriter master cleanse, leggings raw denim retro salvia yr. Bushwick polaroid mlkshk butcher Shoreditch fixie. IPhone Blue Bottle farm-to-table ethical mixtape. Gentrify roof party craft beer organic paleo, Blue Bottle Vice bitters. Sartorial cornhole pickled Tumblr, beard cliche Intelligentsia. Normcore Carles bitters, salvia cred deep v typewriter jean shorts post-ironic meggings farm-to-table. Heirloom pop-up drinking vinegar crucifix, Marfa beard Etsy vegan bicycle rights roof party lumbersexual Echo Park.</p>
				<p>
				Yr deep v +1, small batch 3 wolf moon Carles Pinterest chia beard. Synth American Apparel tote bag kale chips squid roof party, Pitchfork master cleanse literally post-ironic fixie paleo slow-carb swag viral. Taxidermy YOLO lo-fi hashtag gastropub try-hard normcore chia cray put a bird on it brunch. Tofu Austin iPhone readymade roof party whatever. Ennui cred plaid yr, scenester leggings squid blog raw denim Austin. Cornhole gentrify selfies, Blue Bottle pop-up Pinterest occupy. Four dollar toast locavore High Life gentrify meditation roof party.</p>
				<p>
				Artisan wolf four loko hashtag. Kale chips skateboard craft beer wayfarers tattooed gentrify organic, stumptown food truck slow-carb selvage. Fap DIY artisan Marfa organic. Bicycle rights pour-over church-key raw denim, whatever deep v Shoreditch selvage salvia mustache bitters Austin cornhole McSweeney's pickled. Keytar Odd Future put a bird on it pop-up post-ironic. Banh mi disrupt chillwave VHS sriracha. Godard mlkshk hoodie semiotics fingerstache wayfarers authentic.
			</p>




		</div>


	</section>


<script>
//When you hover over partner circle, you add class show-nav to wrapper demo
//select cirlce

$("#button1").click(function(){
	$("#facetoface").removeClass("nodisplay");
	$("#communication").addClass("nodisplay");
	$("#webpresence").addClass("nodisplay");
	$("#arrowdown1").removeClass("nodisplay");
	$("#arrowdown2").addClass("nodisplay");
	$("#arrowdown3").addClass("nodisplay");
	$("#button1").addClass("nodisplay");
	$("#button2").removeClass("nodisplay");
	$("#button3").removeClass("nodisplay");
});

$("#button2").click(function(){
	$("#facetoface").addClass("nodisplay");
	$("#communication").removeClass("nodisplay");
	$("#webpresence").addClass("nodisplay");
	$("#arrowdown1").addClass("nodisplay");
	$("#arrowdown2").removeClass("nodisplay");
	$("#arrowdown3").addClass("nodisplay");
	$("#button1").removeClass("nodisplay");
	$("#button2").addClass("nodisplay");
	$("#button3").removeClass("nodisplay");
});

$("#button3").click(function(){
	$("#facetoface").addClass("nodisplay");
	$("#communication").addClass("nodisplay");
	$("#webpresence").removeClass("nodisplay");
	$("#arrowdown1").addClass("nodisplay");
	$("#arrowdown2").addClass("nodisplay");
	$("#arrowdown3").removeClass("nodisplay");
	$("#button1").removeClass("nodisplay");
	$("#button2").removeClass("nodisplay");
	$("#button3").addClass("nodisplay");
});

$("#services-circle").mouseenter(function(){
	$("#services-circle").addClass("counterclockwise90");
	$("#services-circle").removeClass("clockwise0");
});
$("#services-circle").mouseleave(function(){
	$("#services-circle").removeClass("counterclockwise90");
	$("#services-circle").addClass("clockwise0");
});
$("#services-circle").click(function(){
	$("#services-circle").addClass("movedown");
	$("#services-circle2").removeClass("movedown");
	$("#services-circle3").removeClass("movedown");
	$("#services-circle").off('mouseleave');
	$("#services-circle2").on('mouseleave');
	$("#services-circle3").on('mouseleave');
	$("#services-circle2").addClass("clockwise0");
	$("#services-circle3").addClass("clockwise0");
});
$("#services-circle2").mouseenter(function(){
	$("#services-circle2").addClass("counterclockwise90");
	$("#services-circle2").removeClass("clockwise0");
});
$("#services-circle2").mouseleave(function(){
	$("#services-circle2").removeClass("counterclockwise90");
	$("#services-circle2").addClass("clockwise0");
});
$("#services-circle2").click(function(){
	$("#services-circle2").addClass("movedown");
	$("#services-circle").removeClass("movedown");
	$("#services-circle3").removeClass("movedown");
	$("#services-circle2").off('mouseleave');
	$("#services-circle").on('mouseleave');
	$("#services-circle3").on('mouseleave');
	$("#services-circle").addClass("clockwise0");
	$("#services-circle3").addClass("clockwise0");
});
$("#services-circle3").mouseenter(function(){
	$("#services-circle3").addClass("counterclockwise90");
	$("#services-circle3").removeClass("clockwise0");
});
$("#services-circle3").mouseleave(function(){
	$("#services-circle3").removeClass("counterclockwise90");
	$("#services-circle3").addClass("clockwise0");
});
$("#services-circle3").click(function(){
	$("#services-circle3").addClass("movedown");
	$("#services-circle2").removeClass("movedown");
	$("#services-circle").removeClass("movedown");
	$("#services-circle3").off('mouseleave');
	$("#services-circle2").on('mouseleave');
	$("#services-circle").on('mouseleave');
	$("#services-circle2").addClass("clockwise0");
	$("#services-circle").addClass("clockwise0");
});
</script>
