<div id="services-layer" class="nodisplay">
	<div id="nav-circle">
		
		<%= image_tag 'green-circle.svg', :class => "", :id => "services-circle" %>
		<div class="nav-circle-title">Services</div>
	</div>
	<div id="nav-circle2">
		
	<%= image_tag 'yellow-circle.svg', :class => "", :id => "services-circle2" %>
	<div class="nav-circle-title">Why Marketing?</div>
</div>
	<div id="nav-circle3">
		
	<%= image_tag 'red-circle.svg', :class => "", :id => "services-circle3" %>
	<div class="nav-circle-title">Why 330?</div>
	</div>
</div>


	<section class="services-section">

		<h1>WE PROVIDE MARKETING</br> AND COMMUNICATIONS CONSULTING.</h1>

		<div class="categories">
		<div class="service-category">
			<%= image_tag 'services-face.jpg', :class => "category-image" %>

			<div class="category-box">
				<h2>Consult</h1>

					<p>We provide marketing solutions to fit your budget and help accomplish your goals.</p>

					<button id="button1" class="learn-button nodisplay">
						Learn More
					</button>

					<%= image_tag 'arrowdown.png', :class => "arrowshow", :id => "arrowdown1" %>


			</div>


		</div>

				<div class="service-category">
			<%= image_tag 'services-social.jpg', :class => "category-image" %>

			<div class="category-box">
				<h2>Train</h1>

					<p>We provide marketing training in new marketing platforms and traditional platforms.</p>

					<button id="button2" class="learn-button">
						Learn More
					</button>

					<%= image_tag 'arrowdown.png', :class => "nodisplay arrowshow", :id => "arrowdown2" %>


			</div>


		</div>

				<div class="service-category">
			<%= image_tag 'services-web.jpg', :class => "category-image" %>

			<div class="category-box">
				<h2>Evaluate</h1>

					<p>We provide useful feedback on your past and current marketing strategies.</p>

					<button id="button3" class="learn-button">
						Learn More
					</button>

					<%= image_tag 'arrowdown.png', :class => "nodisplay arrowshow", :id => "arrowdown3" %>

			</div>


		</div>


	</div>

	</section>

	<section id="facetoface" class="services-detail">
		<div class="services-types">
			<h2>Marketing Consultation</h2>

			<ul>
				<li>Overall Strategy</li>
				<li>Social Media Strategy</li>
				<li>Public Relations</li>
				<li>Events and Exhibitions</li>
				<li>Traditional Marketing</li>
				<li>Web Presence / Store Display</li>
				<li>Market Research</li>
				<li>New Ideas and Concepts</li>

			</ul>

			<div class="services-question">
				Not sure how to create a marketing plan or unsure what platforms to focus on?
			</div>

					<button class="contact-button">
						Contact Today
					</button>


		</div>

		<div class="services-description">
			<h2>A Perfect Plan For Your Brand vs Another Sales Pitch</h2>

				<p>
				The fall of most businesses' marketing strategy starts with a pitch from a great sales person.  Most sales people can careless if you need their service or not, they just looking for an quick sale.  330 Monday have a different philsophy.  We excel at creating interactive campaigns thru exhibitions, social media and microsites.  We provide an overall marketing strategy that will fit your business even if we feel you don't need our great interactive campaigns.  We realize that certain marketing channels and initiatives work great for certain goals and may not for others.
				</p>
				<p>
				Instead of settling on a pitch, let us analyze your goals, options and create a plan that will work for your business goals and budget.  Everyday there are new marketing platforms and initiatives to reach your audience.  Its important to know which platforms your audience is using and using those platforms correctly to connect with your audience.  We help sort through the many options and choose the best platforms for your business.</p>
				<p>
				There are many social media platfroms from Facebook, Twitter, Instagram and others.  Are you using the right ones to reach your audience?  People love attending festivals and events, are you engaging with this audience?  Customers are on their phone, tablets and computer all day, is your business making a great impression on the many devices?  Your customers are rating your service or product everyday, how is your reputation?
				</p>
				<p>
				If your business is looking for a forward thinking direction.  Contact 330 Monday to help with your marketing strategies and provide you new and exciting ideas to connect with your audience and accomplish your business goals.
			</p>




		</div>


	</section>

<section id="communication" class="services-detail nodisplay">
		<div class="services-types">
			<h2>Training</h2>

			<ul>
				<li>Social Media Platforms</li>
				<li>Reputation Management</li>
				<li>Event Engagement</li>
				<li>Exhibition Promotion</li>
				<li>Marketing Analytics</li>
				<li>SEO and Content</li>

			</ul>

			<div class="services-question">
				Need training on a specific marketing platform or strategy?
			</div>

					<button class="contact-button">
						Contact Today
					</button>


		</div>

		<div class="services-description">
			<h2>Stop Treating Each Marketing Platform The Same</h2>

			<p>
				One of the biggest mistakes businesses make is they use the same skills and strategies on different platforms.  The techniques and content you use for Twitter probably will not work on another platform.  The way you engage with a potential customer at your office would probably be different than at a festival or social event.
				</p>
				<p>
				How you analyze and calculate the results for each platform will be different as well.  Its important to know which data points to focus on with each marketing platform.  We can teach your team what to focus on and how to get better results.
				<p>
				330 Monday provides training and coaching to your team so they can become more effective with your marketing strategy.  Contact 330 Monday to help train your team to use each marketing platform correctly to connect with your audience.</p>

		</div>


	</section>

<section id="webpresence" class="services-detail nodisplay">
		<div class="services-types">
			<h2>Evaluation</h2>

			<ul>
				<li>Marketing Analysis</li>
				<li>Social Media Report</li>
				<li>Reputation Report</li>
				<li>Surveys and Feedback</li>
				<li>Marketing Effectiveness</li>
				<li>Recommendations and Tools</li>
				<li>Website Checklist</li>

			</ul>

			<div class="services-question">
				Not sure if your current marketing strategy is working or best use of your budget?
			</div>

					<button class="contact-button">
						Contact Today
					</button>


		</div>

		<div class="services-description">
			<h2>Doing The Same Strategy But Expecting Better Results</h2>

			<p>
				Marketing strategies that worked many years ago, may not still work today.  Marketing is part about finding where your customer eyeballs are and creating content to gain their attention.  With new social platforms, devices and technologies, where your customer spend their time is always changing.  Evaluating your current strategies and adjusting them as needed is important for every business.
				</p>
				<p>
				330 Monday can evuluate each marketing strategy you are currently using and see if its right for your budget and goals.  We help eliminate wasteful spending and time on strategies that may not be best for your business.</p>
				<p>
				We can reseach and survey your target market to evaluate which platforms are best to reach them.  We provide reports and recommendations to each platform you are currently using.  Contact 330 Monday to analyze your current marketing plan to save costs and get better results.</p>
			</div>


	</section>


<script>
//When you hover over partner circle, you add class show-nav to wrapper demo
//select cirlce

$("#button1").click(function(){
	$("#facetoface").removeClass("nodisplay");
	$("#communication").addClass("nodisplay");
	$("#webpresence").addClass("nodisplay");
	$("#arrowdown1").removeClass("nodisplay");
	$("#arrowdown2").addClass("nodisplay");
	$("#arrowdown3").addClass("nodisplay");
	$("#button1").addClass("nodisplay");
	$("#button2").removeClass("nodisplay");
	$("#button3").removeClass("nodisplay");
});

$("#button2").click(function(){
	$("#facetoface").addClass("nodisplay");
	$("#communication").removeClass("nodisplay");
	$("#webpresence").addClass("nodisplay");
	$("#arrowdown1").addClass("nodisplay");
	$("#arrowdown2").removeClass("nodisplay");
	$("#arrowdown3").addClass("nodisplay");
	$("#button1").removeClass("nodisplay");
	$("#button2").addClass("nodisplay");
	$("#button3").removeClass("nodisplay");
});

$("#button3").click(function(){
	$("#facetoface").addClass("nodisplay");
	$("#communication").addClass("nodisplay");
	$("#webpresence").removeClass("nodisplay");
	$("#arrowdown1").addClass("nodisplay");
	$("#arrowdown2").addClass("nodisplay");
	$("#arrowdown3").removeClass("nodisplay");
	$("#button1").removeClass("nodisplay");
	$("#button2").removeClass("nodisplay");
	$("#button3").addClass("nodisplay");
});

$("#services-circle").mouseenter(function(){
	$("#services-circle").addClass("counterclockwise90");
	$("#services-circle").removeClass("clockwise0");
});
$("#services-circle").mouseleave(function(){
	$("#services-circle").removeClass("counterclockwise90");
	$("#services-circle").addClass("clockwise0");
});
$("#services-circle").click(function(){
	$("#services-circle").addClass("movedown");
	$("#services-circle2").removeClass("movedown");
	$("#services-circle3").removeClass("movedown");
	$("#services-circle").off('mouseleave');
	$("#services-circle2").on('mouseleave');
	$("#services-circle3").on('mouseleave');
	$("#services-circle2").addClass("clockwise0");
	$("#services-circle3").addClass("clockwise0");
});
$("#services-circle2").mouseenter(function(){
	$("#services-circle2").addClass("counterclockwise90");
	$("#services-circle2").removeClass("clockwise0");
});
$("#services-circle2").mouseleave(function(){
	$("#services-circle2").removeClass("counterclockwise90");
	$("#services-circle2").addClass("clockwise0");
});
$("#services-circle2").click(function(){
	$("#services-circle2").addClass("movedown");
	$("#services-circle").removeClass("movedown");
	$("#services-circle3").removeClass("movedown");
	$("#services-circle2").off('mouseleave');
	$("#services-circle").on('mouseleave');
	$("#services-circle3").on('mouseleave');
	$("#services-circle").addClass("clockwise0");
	$("#services-circle3").addClass("clockwise0");
});
$("#services-circle3").mouseenter(function(){
	$("#services-circle3").addClass("counterclockwise90");
	$("#services-circle3").removeClass("clockwise0");
});
$("#services-circle3").mouseleave(function(){
	$("#services-circle3").removeClass("counterclockwise90");
	$("#services-circle3").addClass("clockwise0");
});
$("#services-circle3").click(function(){
	$("#services-circle3").addClass("movedown");
	$("#services-circle2").removeClass("movedown");
	$("#services-circle").removeClass("movedown");
	$("#services-circle3").off('mouseleave');
	$("#services-circle2").on('mouseleave');
	$("#services-circle").on('mouseleave');
	$("#services-circle2").addClass("clockwise0");
	$("#services-circle").addClass("clockwise0");
});
</script>
