<section class="firstsection">
	  <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag '330monday-logo2.png', :class => "logo-head2" %>
        
      <% end %>

	<h1>Reputation management for your service</h1>
	<h2>Get more positive reviews. Manage bad reviews. Get more customers.</h2>

	<div class="box1">
		<h1>GET MORE CUSTOMERS</h1>
		<script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js"></script><a id="Setmore_button_iframe" style="float:none" href="https://my.setmore.com/bookingpage/6ea0ea82-6b30-4545-8ac0-b427479365be">
		<div class="actionbox">
			Get a free consultation call</br>and start getting better reviews today
		</div>
		</a>
		<h3>I'm ready to turn my reviews into customers now.</h3>

	</div>

	<div class="videobox">
		<iframe width="100%" height="360" src="https://www.youtube.com/embed/1Cm5qWrli3o?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	</div>

</section>

<section class="secondsection">
	<div class="setappointment">
		<div class="picbox">
			<%= image_tag 'happycustomers.jpg', :class => "happy-image" %>
		</div>

		<div class="box2">
			Get a free 30 min call on pratical strategies and advice to get better reviews and turn your reviews into more customers.  No sales pitch gauranteed.

		<script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js"></script><a id="Setmore_button_iframe" style="float:none" href="https://my.setmore.com/bookingpage/6ea0ea82-6b30-4545-8ac0-b427479365be">
		<div class="actionbox2">
			Set Your Appointment Today
		</div>
		</a>
		<h3>I'm ready to turn my reviews into customers now.</h3>
		</div>

	</div>

	<ul>
		<li><%= image_tag 'review1.png', :class => "example-image" %></li>
		<li><%= image_tag 'review2.png', :class => "example-image" %></li>
		<li><%= image_tag 'review3.png', :class => "example-image" %></li>
		<li><%= image_tag 'review4.png', :class => "example-image" %></li>
	</ul>



</section>

<section class="thirdsection">
	<h1>Our Reputation Management Process</h1>
	<h2>We have a simple process for your business.</h2>

	<div class="processbox">

		<%= image_tag 'phonecall.png' %>

		<h1>Organzie</h1>

		<ul>
			<li>Schedule 30 min Call</li>
			<li>Tell us about your business</li>
			<li>Assigned one of our online reputation experts</li>
		</ul>


	</div>

	<div class="processbox">

		<%= image_tag 'cell.png' %>

		<h1>Management</h1>

		<ul>
			<li>Schedule 30 min Call</li>
			<li>Tell us about your business</li>
			<li>Assigned one of our online reputation experts</li>
		</ul>


	</div>

	<div class="processbox">

		<%= image_tag 'line.png' %>

		<h1>Review</h1>

		<ul>
			<li>Schedule 30 min Call</li>
			<li>Tell us about your business</li>
			<li>Assigned one of our online reputation experts</li>
		</ul>


	</div>

		<script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js"></script><a id="Setmore_button_iframe" style="float:none" href="https://my.setmore.com/bookingpage/6ea0ea82-6b30-4545-8ac0-b427479365be">
		<div class="actionbox2">
			Set Your Appointment Today
		</div>
		</a>
</section>

<% if false %>
<section class="fourthsection">

	<h1>Your Reputation is</br> Our Reputation</h1>

	<div class="featurebox">
		<i class="fa fa-clock-o" aria-hidden="true"></i>
		<h2>Save Time</h2>
		<p>We handle your online reputation, so you can focus on delivering a great service.</p>

	</div>

	<div class="featurebox">
		<i class="fa fa-star" aria-hidden="true"></i>
		<h2>Increase Reviews</h2>
		<p>We handle your online reputation, so you can focus on delivering a great service.</p>

	</div>

	<div class="featurebox">
		<i class="fa fa-comments" aria-hidden="true"></i>
		<h2>Manage Feedback</h2>
		<p>We handle your online reputation, so you can focus on delivering a great service.</p>

	</div>

	<div class="featurebox">
		<i class="fa fa-certificate" aria-hidden="true"></i>
		<h2>Review Experts</h2>
		<p>We handle your online reputation, so you can focus on delivering a great service.</p>

	</div>

	<div class="featurebox">
		<i class="fa fa-money" aria-hidden="true"></i>
		<h2>Simple Pricing</h2>
		<p>We handle your online reputation, so you can focus on delivering a great service.</p>

	</div>

	<div class="featurebox">
		<i class="fa fa-ban" aria-hidden="true"></i>
		<h2>Cancel Anytime</h2>
		<p>We handle your online reputation, so you can focus on delivering a great service.</p>

	</div>

</section>

<section class="fifthsection">
<div class="planbox1">
	<div class="headertitle">PREMIUM</div>
	<h1>Let us help you improve your online reputation</h1>
	<div class="box3">
		We help increase your positive reviews and improve your overall review reputation.  This service is designed for businesses with unsatisfactory review ratings and looking to increase score.  Increasing your score and more positive feedback will drastically help increase your customers and revenue. 
	</div>
	<div class="box4">
		<div class="pricing">
			only <span class="bigfont">$299</span> a month
		</div>
		<div class="actionbox3">
			Get Started
		</div>

	</div>

	<hr class="boldline"></hr>

</div>

<div class="planbox2">
	<div class="headertitle">PREMIUM</div>
	<h1>Let us help you improve your online reputation</h1>
	<div class="box3">
		We help increase your positive reviews and improve your overall review reputation.  This service is designed for businesses with unsatisfactory review ratings and looking to increase score.  Increasing your score and more positive feedback will drastically help increase your customers and revenue. 
	</div>
	<div class="box4">
		<div class="pricing">
			only <span class="bigfont">$299</span> a month
		</div>
		<div class="actionbox3">
			Get Started
		</div>

	</div>

	<hr class="boldline"></hr>

</div>

<div class="planbox3">
	<div class="headertitle">PREMIUM</div>
	<h1>Let us help you improve your online reputation</h1>
	<div class="box3">
		We help increase your positive reviews and improve your overall review reputation.  This service is designed for businesses with unsatisfactory review ratings and looking to increase score.  Increasing your score and more positive feedback will drastically help increase your customers and revenue. 
	</div>
	<div class="box4">
		<div class="pricing">
			only <span class="bigfont">$299</span> a month
		</div>
		<div class="actionbox3">
			Get Started
		</div>

	</div>

	<hr class="boldline"></hr>

</div>
</section>
<% end %>