<section class="firstsection">
	<div class="topnavheader">
	  <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag '330monday-logo2.png', :class => "logo-head2" %>
        
      <% end %>
      <div class="navlist">
      	<ul>
      		<li><a href="#pricing" >Pricing</a></li>
      		<li><a href="#process" >Process</a></li>
      		<li>704-806-0760</li>
      	</ul>


      </div>
      <div class="navlistmobile">
      	<ul>
      		<li>704-806-0760</li>
      	</ul>


      </div>

  </div>

	<h1>Reputation management for your service</h1>
	<h2>Get more positive reviews. Manage bad reviews. Get more customers.</h2>

	<% if false %>
	<div class="box1">
		<h1>GET MORE CUSTOMERS</h1>
		<script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js"></script><a id="Setmore_button_iframe" style="float:none" href="https://my.setmore.com/bookingpage/6ea0ea82-6b30-4545-8ac0-b427479365be">
		<div class="actionbox">
			Get a free consultation call</br>and start getting better reviews today
		</div>
		</a>
		<h3><a href="#pricing">I'm ready to turn my reviews into customers now.</a></h3>

	</div>

	<div class="videobox">
		<iframe width="100%" height="360" src="https://www.youtube.com/embed/1Cm5qWrli3o?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<% end %>

	<div class="tempbox">
		<h1>GET MORE CUSTOMERS</h1>
		<script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js"></script><a id="Setmore_button_iframe" style="float:none" href="https://my.setmore.com/bookingpage/6ea0ea82-6b30-4545-8ac0-b427479365be">
		<div class="actionbox4">
			Get a free consultation call</br>and start getting better reviews today
		</div>
		</a>
		<h3><a href="#pricing">I'm ready to turn my reviews into customers now.</a></h3>


	</div>

</section>

<section class="secondsection">
	<div class="setappointment">
		<div class="picbox">
			<%= image_tag 'happycustomers.jpg', :class => "happy-image" %>
		</div>

		<div class="box2">
			Turn your reviews into customers with a free 30 min call on pratical strategies and advice.

		<script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js"></script><a id="Setmore_button_iframe" style="float:none" href="https://my.setmore.com/bookingpage/6ea0ea82-6b30-4545-8ac0-b427479365be">
		<div class="actionbox2">
			Set Your Appointment Today
		</div>
		</a>
		<h3><a href="#pricing">I'm ready to turn my reviews into customers now.</a></h3>
		</div>

	</div>

	<ul>
		<li><%= image_tag 'review1.png', :class => "example-image" %></li>
		<li><%= image_tag 'review2.png', :class => "example-image" %></li>
		<li><%= image_tag 'review3.png', :class => "example-image" %></li>
		<li><%= image_tag 'review4.png', :class => "example-image" %></li>
	</ul>



</section>

<section id="process" class="thirdsection">
	<h1>Our Reputation Management Process</h1>
	<h2>We have a simple process for your business.</h2>

	<div class="processbox">

		<%= image_tag 'phonecall.png' %>

		<h1>Organzie</h1>

		<% if false %>
		<ul>
			<li>Schedule 30 min Call</li>
			<li>Tell us about your business</li>
			<li>Assigned one of our online reputation experts</li>
		</ul>
		<% end %>


	</div>

	<div class="processbox">

		<%= image_tag 'cell.png' %>

		<h1>Management</h1>

		<% if false %>
		<ul>
			<li>Schedule 30 min Call</li>
			<li>Tell us about your business</li>
			<li>Assigned one of our online reputation experts</li>
		</ul>
		<% end %>


	</div>

	<div class="processbox">

		<%= image_tag 'line.png' %>

		<h1>Review</h1>

		<% if false %>
		<ul>
			<li>Schedule 30 min Call</li>
			<li>Tell us about your business</li>
			<li>Assigned one of our online reputation experts</li>
		</ul>
		<% end %>


	</div>

		<script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js"></script><a id="Setmore_button_iframe" style="float:none" href="https://my.setmore.com/bookingpage/6ea0ea82-6b30-4545-8ac0-b427479365be">
		<div class="actionbox2">
			Set Your Appointment Today
		</div>
		</a>
</section>

<section class="fourthsection">

	<h1>Your Reputation is</br> Our Reputation</h1>

	<div class="featurebox">
		<i class="fa fa-clock-o" aria-hidden="true"></i>
		<h2>Save Time</h2>
		<p>We handle your online reputation, so you can focus on delivering a great service.</p>

	</div>

	<div class="featurebox">
		<i class="fa fa-star" aria-hidden="true"></i>
		<h2>Increase Reviews</h2>
		<p>Offer rewards and convenient technology solutions that make it easier to increase reviews.</p>

	</div>

	<div class="featurebox">
		<i class="fa fa-comments" aria-hidden="true"></i>
		<h2>Manage Feedback</h2>
		<p>Measure what is working and be willing to adapt to what customers want.</p>

	</div>

	<div class="featurebox">
		<i class="fa fa-certificate" aria-hidden="true"></i>
		<h2>Review Experts</h2>
		<p>Your business will be assigned one of our review experts.</p>

	</div>

	<div class="featurebox">
		<i class="fa fa-money" aria-hidden="true"></i>
		<h2>Simple Pricing</h2>
		<p>Upfront pricing for you current and future needs. No hidden fees.</p>

	</div>

	<div class="featurebox">
		<i class="fa fa-ban" aria-hidden="true"></i>
		<h2>Cancel Anytime</h2>
		<p>Recurring payments that are easy to cancel anytime. No contract.</p>

	</div>

</section>


<section id="pricing" class="sixthsection">
	<h1>Let us help you improve your online reputation</h1>
	<div class="tablebox">
		<div class="tablecolumn">
			<h1>BRONZE</h1>

			<div class="plancontent">
				This service is designed for businesses with limited review ratings.  Less than 20 reviews. </br></br>

			</div>

			<div class="pricing">
				only <span class="bigfont">$99</span>/mo
			</div>

			<div class="menulist">
				<ul>
					<li>Social Strategy Consultation</li>
					<li>Dedicated Account Manager</li>
					<li>24/7 Email Support</li>
					<li>Profile and Account Enhancement</li>
					<li>Solicit and Organize Reviews</li>
					<li>Listing Publishing Balancing</li>
					<li>Measuring Activity & Performance</li>
					<li>Responding to Reviews</li>
					<li> <span class="whitespace"> - <span></li>
					<li> <span class="whitespace"> - <span></li>
					<li> <span class="whitespace"> - <span></li>
					<li> <span class="whitespace"> - <span></li>
				</ul>
			</div>

			<a href="https://330Monday-test.chargebee.com/hosted_pages/plans/monthly-reputation-management-(starter)">
			<div class="actionbox3">
				Get Started
			</div>
			</a>


			
		</div>

		<div class="tablecolumn">
			<h1>SILVER</h1>

			<div class="plancontent">
				This service is designed for businesses with satisfactory review ratings.  Scale of 1/5 you have a 4 or higher with more than 20 reviews.

			</div>

			<div class="pricing">
				only <span class="bigfont">$199</span>/mo
			</div>

			<div class="menulist">
				<ul>
					<li>Social Strategy Consultation</li>
					<li>Dedicated Account Manager</li>
					<li>24/7 Email Support</li>
					<li>Profile and Account Enhancement</li>
					<li>Solicit and Organize Reviews</li>
					<li>Listing Publishing Balancing</li>
					<li>Measuring Activity & Performance</li>
					<li>Responding to Reviews</li>
					<li>Comment/Inbox management</li>
					<li>Duplicate listing suppression</li>
					<li>Listing Management</li>
					<li> <span class="whitespace"> - <span></li>
				</ul>
			</div>
			<a href="https://330Monday-test.chargebee.com/hosted_pages/plans/monthly-reputation-management-(pro)">
			<div class="actionbox3">
				Get Started
			</div>
			</a>


			
		</div>
		<div class="tablecolumn">
			<h1>GOLD</h1>

			<div class="plancontent">
				This service is designed for businesses with unsatisfactory review ratings.  Scale of 1/5 you have a 3 or lower with more than 20 reviews.

			</div>

			<div class="pricing">
				only <span class="bigfont">$299</span>/mo
			</div>

			<div class="menulist">
				<ul>
					<li>Social Strategy Consultation</li>
					<li>Dedicated Account Manager</li>
					<li>24/7 Email Support</li>
					<li>Profile and Account Enhancement</li>
					<li>Immediate Solicit and Organize Reviews</li>
					<li>Listing Publishing Balancing</li>
					<li>Measuring Activity & Performance</li>
					<li>Responding to Reviews</li>
					<li>Comment/Inbox management</li>
					<li>Duplicate listing suppression</li>
					<li>Listing Management</li>
					<li>Customized Templates & Content</li>
				</ul>
			</div>
			<a href="https://330Monday-test.chargebee.com/hosted_pages/plans/monthly-reputation-management-(pro)">
			<div class="actionbox3">
				Get Started
			</div>
			</a>


			
		</div>
		<div class="tablecolumn">
			<h1>STARTER (Free)</h1>

			<div class="plancontent">
				This service is designed for new businesses and businesses with no online reviews.  </br></br>

			</div>

			<div class="pricing">
				<span class="bigfont">Free</span>
			</div>

			<div class="menulist">
				<ul>
					<li>Social Strategy Consultation</li>
					<li>Dedicated Account Manager</li>
					<li>24/7 Email Support</li>
				</ul>
			</div>

			<div class="actionbox3">
				Get Started
			</div>


			
		</div>
	</div>

	<div class="contactbox">
		<h1>Contact</h1>

		<ul>
			<li>704-806-0760</li>
			<li>info@330monday.com</li>
		</ul>

	</div>



</section>

<% if false %>
<section class="fifthsection">

<div class="headertitle">Services</div>

<div class="planbox">
	<h1>Review Listing Setup</h1>
	<div class="box3">
		We help increase your positive reviews and improve your overall review reputation.  This service is designed for businesses with unsatisfactory review ratings and looking to increase score.  Increasing your score and more positive feedback will drastically help increase your customers and revenue. 
	</div>


	<hr class="boldline"></hr>

</div>

<div class="planbox">
	<h1>Review Tracking & Notification</h1>
	<div class="box3">
		We help increase your positive reviews and improve your overall review reputation.  This service is designed for businesses with unsatisfactory review ratings and looking to increase score.  Increasing your score and more positive feedback will drastically help increase your customers and revenue. 
	</div>


	<hr class="boldline"></hr>

</div>

<div class="planbox">
	<h1>Reputation Training</h1>
	<div class="box3">
		We help increase your positive reviews and improve your overall review reputation.  This service is designed for businesses with unsatisfactory review ratings and looking to increase score.  Increasing your score and more positive feedback will drastically help increase your customers and revenue. 
	</div>


	<hr class="boldline"></hr>

</div>

<div class="planbox">
	<h1>Increase Reviews Consultation</h1>
	<div class="box3">
		We help increase your positive reviews and improve your overall review reputation.  This service is designed for businesses with unsatisfactory review ratings and looking to increase score.  Increasing your score and more positive feedback will drastically help increase your customers and revenue. 
	</div>


	<hr class="boldline"></hr>

</div>

</section>
<% end %>